@font-face
  font-style: normal
  font-family: "Monaco"
  src: local("Meslo LG S"), url("../add/Monaco.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "LXGWWenKaiScreen"
  src: local("Meslo LG S"), url("../add/LXGWWenKaiScreen.ttf") format("truetype")