@font-face
  font-style: normal
  font-family: "KeBen Song"
  src: local("Meslo LG S"), url("../add/AaGuDianKeBenSong-2.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "Monaco"
  src: local("Meslo LG S"), url("../add/Monaco-1.ttf") format("truetype")