[submodule "themes/stellar"]
	path = themes/stellar
	url = git@github.com:soppylzz/hexo-theme-stellar.git
[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:soppylzz/hexo-theme-cactus.git
