#tag-cloud
  .tag-cloud-title
    color: $color-meta
  .tag-cloud-tags
    clear: both
    text-align: center
    a
      font-size: $font-size !important
      display: inline-block
      margin: 10px
